@import 'tailwindcss';

@theme {
  --color-background: oklch(0.9663 0.016 250.831);
  --color-foreground: oklch(0 0 0);

  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0 0 0);

  --color-popover: oklch(0.21 0.145 267);
  --color-popover-foreground: oklch(0 0 0);
  --color-primary: oklch(0.7934 0.106 254.517);

  --color-primary-foreground: oklch(0.21 0.145 267);

  --color-secondary: oklch(0.5888 0.215 258.275);
  --color-secondary-foreground: oklch(0 0 0);

  --color-muted: oklch(0.28 0.189 266);
  --color-muted-foreground: oklch(0 0 0);

  --color-accent: oklch(0.5888 0.215 258.275);
  --color-accent-foreground: oklch(1 0 0);

  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.704 0.191 22.216);

  --color-border: oklch(1 0 0 / 0.125);
  --color-input: oklch(1 0 0 / 0.2);
  --color-ring: oklch(0.79 0.106 255);

  --color-chart-1: oklch(0.79 0.106 255);
  --color-chart-2: oklch(0.61 0.202 261);
  --color-chart-3: oklch(0.871 0.15 154.449);
  --color-chart-4: oklch(0.621 0.250758 23.28 / 1);
  --color-chart-5: oklch(0.685 0.14386 76.03 / 0.615);

  --color-sidebar: oklch(1 0 0);
  --color-sidebar-foreground: oklch(0 0 0);
  --color-sidebar-primary: oklch(0.5888 0.215 258.275);
  --color-sidebar-primary-foreground: oklch(0 0 0 / 0.85);
  --color-sidebar-accent: oklch(0.5888 0.215 258.275);
  --color-sidebar-accent-foreground: oklch(1 0 0);
  --color-sidebar-border: oklch(1 0 0 / 0.125);
  --color-sidebar-ring: oklch(0.54 0.229 264);
  --radius: 0.625rem;

  --font-barlow: 'Barlow Condensed', sans-serif;
  --font-primary: Poppins;
  --font-sans: 'DM Sans', sans-serif;
  --font-serif: 'Playfair Display', serif;

  --color-primary-light: oklch(0.88 0.06 257);
  --color-primary-dark: oklch(0.79 0.106 255);
  --color-primary-ring: oklch(0.7 0.153 257);
}

* {
  @apply font-primary scroll-smooth;
}

body {
  @apply bg-background;
}
